# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
wh/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
OutputData/
environmental_layers/
.DS_Store
plots/bee_maps.pdf
old/

# Large CSVs to exclude from Git
proportion_heatmaps/data/05_cleaned_database.csv
proportion_heatmaps/data/gbif_subset.csv
proportion_heatmaps/subset_all_bees.csv
proportion_heatmaps/bee_species_not_in_tree.csv
11_proportion_heatmaps/

